{
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "prettier"
    ],
    "rules": {
        "vue/html-indent": [
            "error", 4,
            {
                "attribute": 1,
                "baseIndent": 1,
                "closeBracket": 0,
                "alignAttributesVertically": true,
                "ignores": []
            }
        ],
        "vue/html-self-closing": [
            "error",
            {
                "html": {
                    "void": "any",
                    "normal": "always",
                    "component": "always"
                },
                "svg": "always",
                "math": "always"
            }
        ]
    }
}