// TODO:
$todo-color: cyan;

/* Black */
$color_black: #000;

/* White */
$color_white: #fff;

/* Gray */
$color_extra_light-gray: #f5f7f7;
$color_light-gray: #e2e2de;

/* Blue */
$color_light-blue: #e4f6ff;
$color_medium-blue: #1c6fb8;
$color_blue: #1e0bff;
$color_link-blue: #1e0bff;

$text-info-secondary: #535353;
$body-background-color: #faf9f6;
$modal-background-color: $todo-color;
$modal-overlay: rgba(88, 88, 88, 0.75);
$error-background-color: rgba(241, 89, 89, 0.06);
$color_red: red;
$color_orange: orange;
$color_green: green;