@import './colors.scss';
@import './media.scss';

/* Colors */
$primary-main: #BDD9BF;
$primary-light: $todo-color;
$primary-dark: $todo-color;
$secondary-main: #2E4052;
$secondary-light: #B2BCAA;
$secondary-dark: $todo-color;
$tertiary-main: #FFC857;
$tertiary-light: $color_white;
$tertiary-dark: $color_white;
$text-main: #535353;
$text-light: #535353;
$text-dark: #535353;
$body-background-color: #faf9f6;
$modal-background-color: $todo-color;
$modal-overlay: rgba(88, 88, 88, 0.75);
$error-background-color: rgba(241, 89, 89, 0.06);
$error: $color_red;
$warning: $color_orange;
$info: $color_blue;
$success: $color_green;

/* Shadows */
$shadow_float-default: 0px 3px 17px rgba(0, 0, 0, 0.17);
$shadow_float-high: 0px 6px 32px rgba(0, 0, 0, 0.14);
$shadow_float-low: 0px 3px 8px rgba(0, 0, 0, 0.14);
$shadow_float-sticky: 0px 1px 3px rgba(0, 0, 0, 0.28);
$shadow_inset-default: inset 0px 1px 3px rgba(0, 0, 0, 0.22);
$shadow_inset-lowered: inset 0px 0px 3px rgba(0, 0, 0, 0.8);

/* Border */
$border-radius_default: 12px;
$border-radius_s: 6px;
$border-radius_xs: 4px;
$border-radius_xxs: 2px;
$border-light: solid 1px $color_light-gray;
$border-regular: solid 1px $todo-color;
$border-dark: solid 1px $todo-color;
$border-no-border: solid 1px transparent;

/* Spacing */
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-s-m: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 4rem;

/* Typography */
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

%h0 {
  font-size: var(--font-size-heading-0);
  line-height: 1.125;
  font-weight: $font-weight-bold;
}

%h1 {
  font-size: var(--font-size-heading-1);
  line-height: 1.1;
  font-weight: $font-weight-semi-bold;
}

%h2 {
  font-size: var(--font-size-heading-2);
  line-height: 1.1;
  font-weight: $font-weight-bold;
}

%h3 {
  font-size: var(--font-size-heading-3);
  line-height: 1.25;
  font-weight: $font-weight-semi-bold;
}

%h4 {
  font-size: var(--font-size-heading-4);
  line-height: 1.25;
  font-weight: $font-weight-semi-bold;
}

%h5 {
  font-size: var(--font-size-heading-5);
  line-height: 1.2;
  font-weight: $font-weight-bold;
}

%text-title {
  font-size: var(--font-size-text-xl);
  font-weight: $font-weight-regular;
  line-height: 1.15;
}

%text-preamble {
  font-size: var(--font-size-text-l);
  font-weight: $font-weight-regular;
}

%text-base {
  font-size: var(--font-size-text-base);
  font-weight: $font-weight-regular;
}

%text-base-semi-bold {
  font-size: var(--font-size-text-base);
  font-weight: $font-weight-semi-bold;
}

%text-base-bold {
  font-size: var(--font-size-text-base);
  font-weight: $font-weight-bold;
}

%text-m {
  font-size: var(--font-size-text-m);
  font-weight: $font-weight-regular;
}

%text-s {
  font-size: var(--font-size-text-s);
  font-weight: $font-weight-semi-bold;
}

%text-xs {
  font-size: var(--font-size-text-xs);
  font-weight: $font-weight-semi-bold;
}

%text-xxs {
  font-size: var(--font-size-text-xxs);
  font-weight: $font-weight-semi-bold;
}

/* Transitions */
$transition-duration-default: 0.2s;
$transition-timing-function-default: ease;
$transition-default: $transition-timing-function-default $transition-duration-default;


/* Dark mode */
@media (prefers-color-scheme: dark) {
  // TODO: Dark mode
}
